html {
  margin: auto;
}

body {
  margin: auto;
  font-family: Georgia, serif;
  font-size: 123%;
}

h1 {
  font-size: 197%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 140%;
}

h1, h2, h3 {
  margin: 5px 0 5px 0;
}

p {
  padding: 5px;
}

div#content {
  width: 800px;
  margin: auto;
}

table#board {
  margin: 50px 0 20px 0;
  position: relative;
}

table#board tr {
  position: relative;
}

table#board tr td {
  padding: 5px;
  font-size: 182%;
  text-align: center;
  background: #e3e3e3;
  color: #abb;
  z-index: 100;
}

table#board tr td:hover {
  background: #344;
  color: #fff;
}

div.ahover {
    background: #344;
    position: absolute;
    z-index: 99;
}

div#add_word {
  margin: 10px 0 10px 0;
}

div#input_words {
  margin: 10px 0 10px 0;
}

a.correct {
  color: green;
}

a.incorrect {
  color: red;
}

a.notpresent {
  color: gray;
}

